@import sprite
body
  font-family: 'Open Sans', sans-serif
.h-f-t
  @extend .hidden-sm
  @extend .hidden-xs
.v-f-t
  @extend .visible-sm
  @extend .visible-xs
.panel
  +border-radius(0px)
  .panel-body
    color: $gray-dark
    @extend .text-center
    .logo
      color: $gray-darker
      font-size: 170px
      +respond-to(only-tab)
        font-size: 150px
      +respond-to(mob)
        font-size: 120px
    .android-logo
      +fa-make(android)
      @extend .logo
    .desktop-logo
      +fa-make(desktop)
      @extend .logo
    .web-logo
      +fa-make(globe)
      @extend .logo
.list-group
  .heading
    font-size: 18px