.container-fluid
  .section-title-row
    .section-title
      Activities
.container
  .row
    .col-sm-6.col-md-4
      .thumbnail
        =image_tag "http://placehold.it/400x200", alt: "400x200"
        .caption
          %h3 Activity 1
          %p Linux (Listeni/ˈlɪnəks/ lin-uks[5][6] or, less frequently used, /ˈlaɪnəks/ lyn-uks)[6][7] is a Unix-like and mostly POSIX-compliant[8] computer operating system assembled...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} More
    .col-sm-6.col-md-4
      .thumbnail
        =image_tag "http://placehold.it/400x200", alt: "400x200"
        .caption
          %h3 Activity 2
          %p Linux (Listeni/ˈlɪnəks/ lin-uks[5][6] or, less frequently used, /ˈlaɪnəks/ lyn-uks)[6][7] is a Unix-like and mostly POSIX-compliant[8] computer operating system assembled...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} More
    .col-sm-6.col-md-4
      .thumbnail
        =image_tag "http://placehold.it/400x200", alt: "400x200"
        .caption
          %h3 Activity 3
          %p Linux (Listeni/ˈlɪnəks/ lin-uks[5][6] or, less frequently used, /ˈlaɪnəks/ lyn-uks)[6][7] is a Unix-like and mostly POSIX-compliant[8] computer operating system assembled...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} More
    .col-sm-6.col-md-4
      .thumbnail
        =image_tag "http://placehold.it/400x200", alt: "400x200"
        .caption
          %h3 Activity 4
          %p Linux (Listeni/ˈlɪnəks/ lin-uks[5][6] or, less frequently used, /ˈlaɪnəks/ lyn-uks)[6][7] is a Unix-like and mostly POSIX-compliant[8] computer operating system assembled...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} More
    .col-sm-6.col-md-4
      .thumbnail
        =image_tag "http://placehold.it/400x200", alt: "400x200"
        .caption
          %h3 Activity 1
          %p Linux (Listeni/ˈlɪnəks/ lin-uks[5][6] or, less frequently used, /ˈlaɪnəks/ lyn-uks)[6][7] is a Unix-like and mostly POSIX-compliant[8] computer operating system assembled...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} More
    .col-sm-6.col-md-4
      .thumbnail
        =image_tag "http://placehold.it/400x200", alt: "400x200"
        .caption
          %h3 Activity 2
          %p Linux (Listeni/ˈlɪnəks/ lin-uks[5][6] or, less frequently used, /ˈlaɪnəks/ lyn-uks)[6][7] is a Unix-like and mostly POSIX-compliant[8] computer operating system assembled...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} More