.container-fluid
  .section-title-row
    .section-title
      Contact Us
.container
  .row
    .col-md-8
      #map
      %br
    .col-md-4
      .link-list
        %a.link Mailing List
        %a.link IRC: #fsmk on freenode
        %a.link Twitter: @FSMK
        %a.link Mailing ListEmail: contact@fsmk.org