.important
  .row
    .col-md-8
      .panel
        .panel-body
    .col-md-4
      .panel
        .panel-body
          %h3 Every week new activities
          %a.btn.btn-default.btn-lg Sunday School
          %p
            %span Next :
            Email Encryption using Thunderbird and Enigmail