.container-fluid
  .section-title-row
    .section-title
      Projects
.container
  .project-row
    .col-sm-4
      =image_tag "http://placehold.it/300x200", alt: "300x200", :class => "img-responsive"
    .col-sm-8
      %h2 FSMK Lab Manual
      %p
        FSMK Lab Manual is an attempt to come up with documentation which helps in migrating labs in colleges completely to Free Software. As part of this, we have selected VTU's Computer Science Department and have come up with complete lab manual for all the labs that are conducted as part of the course.
      %p
        FSMK Lab Manual is an attempt to come up with documentation which helps in migrating labs in colleges completely to Free Software. As part of this, we have selected VTU's Computer Science Department and have come up with complete lab manual for all the labs that are conducted as part of the course.
      %p
        %a.btn.btn-primary{:href => "#", :role => "button"} More
      %hr
  .project-row
    .col-sm-4
      =image_tag "http://placehold.it/300x200", alt: "300x200", :class => "img-responsive"
    .col-sm-8
      %h2 FSMK Lab Manual
      %p
        FSMK Lab Manual is an attempt to come up with documentation which helps in migrating labs in colleges completely to Free Software. As part of this, we have selected VTU's Computer Science Department and have come up with complete lab manual for all the labs that are conducted as part of the course.
      %p
        %a.btn.btn-primary{:href => "#", :role => "button"} More