.col-md-3
  .list-group
    .list-group-item.active{:href => "#"}
      .heading Recently Completed Events
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Email Encryption using Thunderbird and Enigmail
      %p.list-group-item-text 08/24/2014 - 10:30
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Bulding Web Apps using AngularJS
      %p.list-group-item-text 08/10/2014 - 10:30
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Sunday School - Learning Git (Basics + Advanced)
      %p.list-group-item-text 08/03/2014 - 11:00
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Sunday School - DuckDuckGo Goodies & Mobile API Development
      %p.list-group-item-text 02/16/2014 - 14:00
  .list-group
    .list-group-item.active{:href => "#"}
      .heading Download VTU Lab Manual
    %a.list-group-item{:href => "#"}
      .list-group-item-heading C Programming Lab(1st/2nd Sem)
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Algorithms Lab(4th Sem)
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Database Lab(5th Sem)
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Unix Shell Programming and Compiler Design Lab(6th Sem)
    %a.list-group-item{:href => "#"}
      .list-group-item-heading Computer Graphics Lab (6th Sem)