.tile_menu
  .row.h-f-t
    .tile-col
      =image_tag "tile/fsmk_camp.png", alt: "FSMK Camp"
      .black-overlay
      .title FSMK Camp
    .tile-col
      =image_tag "tile/glug.jpg", alt: "FSMK Camp"
      .black-overlay
      .title Glug
    .tile-col
      =image_tag "tile/fsmk_camp.png", alt: "FSMK Camp"
      .black-overlay
      .title FSMK Camp
    .tile-col
      =image_tag "tile/glug.jpg", alt: "FSMK Camp"
      .black-overlay
      .title Activities
    .tile-col
      =image_tag "tile/fsmk_camp.png", alt: "FSMK Camp"
      .black-overlay
      .title FSMK Camp
    .tile-col
      =image_tag "tile/glug.jpg", alt: "FSMK Camp"
      .black-overlay
      .title Glug
  .row.v-f-t
    .list-group
      %a.list-group-item{:href => "#"} FSMK Camp
      %a.list-group-item{:href => "#"} Glug
      %a.list-group-item{:href => "#"} FSMK Camp
      %a.list-group-item{:href => "#"} Activities
      %a.list-group-item{:href => "#"} FSMK Camp
      %a.list-group-item{:href => "#"} Glug