.tile_menu
  .row.h-f-t
    .tile-col
      %a{href: "#"}
        =image_tag "http://placehold.it/300/9b59b6/ECF0F1", alt: "300x300"
        .black-overlay
        .title FSMK Camp
    .tile-col
      %a{href: "#"}
        =image_tag "http://placehold.it/300/e67e22/ffffff", alt: "300x300"
        .black-overlay
        .title Glug
    .tile-col
      %a{href: "#"}
        =image_tag "http://placehold.it/300/1abc9c/ECF0F1", alt: "300x300"
        .black-overlay
        .title FSMK Camp
    .tile-col
      %a{href: "#"}
        =image_tag "http://placehold.it/300/A3B1B2/ffffff", alt: "300x300"
        .black-overlay
        .title Activities
    .tile-col
      %a{href: "#"}
        =image_tag "http://placehold.it/300/9b59b6/ECF0F1", alt: "300x300"
        .black-overlay
        .title FSMK Camp
    .tile-col
      %a{href: "#"}
        =image_tag "http://placehold.it/300/1abc9c/ECF0F1", alt: "300x300"
        .black-overlay
        .title Glug
  .row.v-f-t
    .list-group
      %a.list-group-item{:href => "#"} FSMK Camp
      %a.list-group-item{:href => "#"} Glug
      %a.list-group-item{:href => "#"} FSMK Camp
      %a.list-group-item{:href => "#"} Activities
      %a.list-group-item{:href => "#"} FSMK Camp
      %a.list-group-item{:href => "#"} Glug