.tile_menu
  .row
    .tile-col
      =image_tag "tile/fsmk_camp.png", alt: "FSMK Camp"
      .black-overlay
      .title FSMK Camp
    .tile-col
      =image_tag "tile/glug.jpg", alt: "FSMK Camp"
      .black-overlay
      .title Glug
    .tile-col
      =image_tag "tile/fsmk_camp.png", alt: "FSMK Camp"
      .black-overlay
      .title FSMK Camp
    .tile-col.red.color
      =image_tag "tile/glug.jpg", alt: "FSMK Camp"
      .black-overlay
      .title Noting Special :)
    .tile-col
      =image_tag "tile/glug.jpg", alt: "FSMK Camp"
      .black-overlay
      .title Activities
    .tile-col.green.color
      =image_tag "tile/fsmk_camp.png", alt: "FSMK Camp"
      .black-overlay
      .title Add it more \m/
    .tile-col
      =image_tag "tile/glug.jpg", alt: "FSMK Camp"
      .black-overlay
      .title Glug
    .tile-col
      =image_tag "tile/fsmk_camp.png", alt: "FSMK Camp"
      .black-overlay
      .title FSMK Camp