.container
  %hr
  .row
    .col-md-12
      .row
        .col-sm-9
          =image_tag "http://placehold.it/848x226", alt: "848x226", :class => "img-responsive"
        .col-sm-3.text-center
          %h2 Update Title
          Give some info about the update. Register to summer camp here. Something else... something else
          %br
          %br
          %a Register here
  %hr