.welcome-section
  .row
    .col-md-4
      =image_tag("welcome_logo.png", alt: "FSMK", :class => "logo")
    .col-md-8
      .content
        .cname Free Software Movement Karnataka
        .intro
          Free software is the future... The future is ours..