= render :partial => 'home/welcome'
.container-fluid
  .row
    .col-md-3
      %br
      %ul.list-group
        %li.list-group-item Cras justo odio
        %li.list-group-item Dapibus ac facilisis in
        %li.list-group-item Morbi leo risus
        %li.list-group-item Porta ac consectetur ac
        %li.list-group-item Vestibulum at eros
      %ul.list-group
        %li.list-group-item Cras justo odio
        %li.list-group-item Dapibus ac facilisis in
        %li.list-group-item Morbi leo risus
        %li.list-group-item Porta ac consectetur ac
        %li.list-group-item Vestibulum at eros
    .col-md-9
      .page-header
        %h1
          Activities
          %small FSMK something something something something
      .row
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Tech Fests
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Camps
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Community Events
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
      .page-header
        %h1
          Chapters
          %small FSMK something something something something
      .row
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Academician
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Camps
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Community Centers
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...