= render :partial => 'home/welcome'
.container-fluid
  .row
    = render :partial => 'home/side_bar'
    .col-md-9
      = render :partial => 'home/slider'
      = render :partial => 'home/important'
      .page-header
        %h1
          Activities
          %small FSMK something something something something
      .row
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Tech Fests
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Camps
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Community Events
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
      .page-header
        %h1
          Chapters
          %small FSMK something something something something
      .row
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Academician
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Camps
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...
        .col-md-4
          .panel.panel-default
            .panel-body
              .android-logo
              %h3 Community Centers
              %p We like something something something something something something something somethingsomething something something somethingsomething something something somethingsomething something
              %span
                %a{href: "#"}More...