%footer
  .footer-container
    .row
      .col-md-4
        .social
          .title
            .social-logo
              .twitter
            .social-title Twitter
          .body
            %ul
              %li.tweet
                .icon
                .tweet-body
                  .message
                    KBF invites you to the screening of 'Swapnadanam', directed by K G George, today at 6.30 PM at the Pavilion, Aspinwall House
                  %a.auther #KochiBiennale
                  .time 12 hours ago
              %li.tweet
                .icon
                .tweet-body
                  .message
                    KBF invites you to the screening of 'Swapnadanam', directed by K G George
                  %a.auther #Kochi
                  .time 12 hours ago
      .col-md-2
        .section-list
          %h4 Section 1
          %ul.list-unstyled
            %li
              %a{href: "#"}Link 1
            %li
              %a{href: "#"}Link 2
            %li
              %a{href: "#"}Link 3
            %li
              %a{href: "#"}Link 4
          %h4 Section 2 
          %ul.list-unstyled
            %li
              %a{href: "#"}Link 1
            %li
              %a{href: "#"}Link 2
            %li
              %a{href: "#"}Link 3
            %li
              %a{href: "#"}Link 4
      .col-md-2
        .section-list
          %h4 Section 1
          %ul.list-unstyled
            %li
              %a{href: "#"}Link 1
            %li
              %a{href: "#"}Link 2
            %li
              %a{href: "#"}Link 3
            %li
              %a{href: "#"}Link 4
          %h4 Section 2 
          %ul.list-unstyled
            %li
              %a{href: "#"}Link 1
            %li
              %a{href: "#"}Link 2
            %li
              %a{href: "#"}Link 3
            %li
              %a{href: "#"}Link 4
      .col-md-4
        .logo-small
          =image_tag("welcome_logo.png", alt: "FSMK")
  .container
    .subfooter-row
      .col-md-12
        %ul.list-inline
          %li
            %a{href: "#"}Link 1
          %li
            %a{href: "#"}Link 2
          %li
            %a{href: "#"}Link 3
          %li
            %a{href: "#"}Link 4
          %li
            %a{href: "#"}Link 5
  .copy-right-container
    .row
      .col-md-4.col-xs-12.pull-right
        Free Software Movement Karnataka
        %a.controller-pull-right{:href => "http://creativecommons.org/licenses/by/4.0/", :rel => "license"}
          %img{:alt => "Creative Commons License", :src => "https://i.creativecommons.org/l/by/4.0/80x15.png", :style => "border-width:0"}