%footer{:role => "contentinfo"}
  .container
    .row
      .col-md-12
        .brand
          FSMK
        %ul.social-list
          %li
            %a{href: "#", target: "_blank"}
              .facebook
          %li
            %a{href: "#", target: "_blank"}
              .google-plus
          %li
            %a{href: "#", target: "_blank"}
            .github
        %ul.list-inline
          %li
            %a Home
          %li
            %a Activities
          %li
            %a Chapters
          %li
            %a About Us
          %li
            %a Mailing List
  