%title= @title||"FSMK"
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag :modernizr
%link{:href => "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css", :rel => "stylesheet"}
%script{:src => "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"}
= csrf_meta_tags
%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}