%header
  .navbar-fixed-top
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-fsmk-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand{:href => "#"}
            %a.fa.fa-facebook
            %a.fa.fa-google-plus
            %a.fa.fa-twitter
        #bs-fsmk-navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Activities
            %li
              %a{:href => "#"} Chapters
            %li.h-f-t
              %a{:href => "#"} Projects
            %li.h-f-t
              %a{:href => "#"} About Us
          .v-f-t
            = render :partial => 'layouts/nav_search'
    .second-nav
      .container-fluid
        .row
          .col-sm-1.col-sm-offset-1
            %a.nav-logo{href: "/"}
              =image_tag "fsmk_icon_small.png"
          .col-sm-10
            %ul.nav.navbar-nav.special-nav
              %li
                %a Menu 1
              %li
                %a Menu 2
              %li
                %a Menu 3
              %li
                %a Menu 4
              %li.dropdown
                %a#dLabel{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "#", "data-toggle" => "dropdown", :href => "http://example.com", :role => "button"}
                  Menu5
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Sub Menu 1
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Sub Menu 2
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Sub Menu 3
            .pull-right
              .h-f-t
                = render :partial => 'layouts/nav_search'
            %ul.nav.navbar-nav.special-nav.pull-right
              %li.dropdown
                %a#dLabel{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "#", "data-toggle" => "dropdown", :href => "http://example.com", :role => "button"}
                  More Options
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Organization
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Free Hardware Movement
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Localization Sprint
.nav-content-fix