%header
  .navbar-fixed-top
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-fsmk-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand{:href => "#"}
            %a.fa.fa-facebook
            %a.fa.fa-google-plus
            %a.fa.fa-twitter
        #bs-fsmk-navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Activities
            %li
              %a{:href => "#"} Chapters
            %li.h-f-t
              %a{:href => "#"} Projects
            %li.h-f-t
              %a{:href => "#"} About Us
          .v-f-t
            = render :partial => 'layouts/nav_search'
    .second-nav
      .container
        .row
          .col-sm-2
            .nav-logo
              =image_tag "new_logo_bg_small.png"
          .col-sm-7
            %ul.nav.navbar-nav.special-nav
              %li
                %a Organization
              %li
                %a Free Hardware Movement
              %li
                %a Localization Sprint
          .col-sm-3.pull-right
            .h-f-t
              = render :partial => 'layouts/nav_search'
.nav-content-fix